@import "tailwindcss";

@theme {
    --color-primary: #166534;
    --color-secondary: #262626;
}

@layer base {
    body {
        background-color: #171717;
        color: #ececec;
    }

    ::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    ::-webkit-scrollbar-track {
        background: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background-color: var(--color-zinc-700);
        border-radius: 9999px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: var(--color-zinc-800);
    }

    .shine-text {
        font-size: 3rem;
        font-weight: 700;
        color: #94a3b8;
        /* base text color */
        background: linear-gradient(120deg,
                #94a3b8 30%,
                #ffffff 45%,
                #94a3b8 60%);
        background-size: 200% 100%;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        animation: shine 2.5s infinite linear;
    }

}

@keyframes shine {
    0% {
        background-position: 200% 0;
    }

    100% {
        background-position: -200% 0;
    }
}