@import "tailwindcss";

@theme {
    --color-primary: #166534;
    --color-secondary: #262626;
}

@layer base {
    body {
        background-color: #171717;
        color: #ececec;
    }

    ::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    ::-webkit-scrollbar-track {
        background: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background-color: var(--color-zinc-700);
        border-radius: 9999px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: var(--color-zinc-800);
    }
}